.body{
    background-color:wheat;
}
.searcharea{
    width: 740px;
    height: 40px;
}
.search1{
    margin-left: 15px;
}
.searchButton{
    width: 300px;
    margin-left: 55px;
}
.searchButton2{
    margin-left: 5px;
}
.lastUpdate{
    width: 180px;
}
.cardsection{
    margin-top: 40px;
}
.card1{
    height: 140px;
    width: 240px;
    background-color: aquamarine;

}
.card2{
    height: 140px;
    width: 240px;
    background-color: cyan;

}
.card3{
    height: 140px;
    width: 240px;
    background-color:cyan

}
.card4{
    height: 140px;
    width: 240px;
    background-color: aquamarine;
}
